.container {
  max-width: 92rem;
  display: flex;

  @media only screen and (max-width: $bp-mobile) {
    display: flex;
    flex-direction: column;
    margin: 9rem 2.5rem;
  }
}

.box {
  max-width: 30rem;
  height: 50rem;
  padding: 4.8rem;

  @media only screen and (max-width: $bp-mobile) {
    height: 44.2rem;
  }

  &__sedans {
    background-color: var(--bright-orange);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    @media only screen and (max-width: $bp-mobile) {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 0;
    }
  }

  &__suvs {
    background-color: var(--dark-cyan);
  }

  &__luxury {
    background-color: var(--vary-dark-cyan);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    @media only screen and (max-width: $bp-mobile) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
  }

  &__icon {
    margin-bottom: 3.5rem;
  }

  &__heading {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 700;
    color: var(--very-light-gray);
    margin-bottom: 2.5rem;
  }

  &__paragraph {
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    color: var(--transparent-white);
    margin-bottom: 8rem;

    @media only screen and (max-width: $bp-mobile) {
      margin-bottom: 4.8rem;
    }
  }
}
